/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hide {
    animation: slideUp 0.5s forwards;
  }