/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hide {
    animation: slideUp 0.5s forwards;
  }

  /* Additional custom styles if needed */
@media (min-width: 960px) {
    /* Ensure body overflow is reset on large screens */
    .overflow-hidden {
        overflow: auto;
    }

    #intro-section {
        position: relative;
        height: 100vh;
        width: 63vw;
    }

    #main-content {
        height: 100vh;
        overflow-y: auto;
        width: 37vw;
    }
}

@font-face {
  font-family: 'Handsome Pro';
  src: url('/assets/Handsome Pro-90.woff') format('woff');
}


/* Custom class for min-height: 100vh */
.min-h-dvh {
  min-height: 100vh;
}

#carousel1,
#carousel2 {
    overflow-x: scroll; /* Enables horizontal scrolling with the scrollbar */
    white-space: nowrap;
    scroll-behavior: smooth; /* Smooth scrolling effect */
}


/* Modal styling */
#imageModal {
  z-index: 51; /* Ensure it appears above other elements */
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
}

#modalImage {
  max-width: 90%; /* Adjust as needed for a responsive modal */
  max-height: 90%;
  border-radius: 8px;
}

/* Music Button Styles */
.music-outer {
  position: fixed;
  z-index: 999;
  bottom: 15px;
  left: 15px;
  display: inline-block;
  vertical-align: top;
}

.music-box {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url("https://katsudoto.id/media/template/details/music.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: all 0.8s cubic-bezier(.23,.56,.38,.78);
}

.music-box.playing {
  animation: play-music 20s linear infinite;
}

@keyframes play-music {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

@media only screen and (max-width: 600px) {
  .music-box {
      width: 45px;
      height: 45px;
  }
}
@media only screen and (max-width: 425px) {
  .music-outer {
      bottom: 12px;
      left: 12px;
  }
}
