/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hide {
    animation: slideUp 0.5s forwards;
  }

  /* Additional custom styles if needed */
@media (min-width: 960px) {
    /* Ensure body overflow is reset on large screens */
    .overflow-hidden {
        overflow: auto;
    }

    #intro-section {
        position: relative;
        height: 100vh;
        width: 63vw;
    }

    #main-content {
        height: 100vh;
        overflow-y: auto;
        width: 37vw;
    }
}

@font-face {
  font-family: 'Handsome Pro';
  src: url('/assets/Handsome Pro-90.woff') format('woff');
}


/* Custom class for min-height: 100vh */
.min-h-dvh {
  min-height: 100vh;
}

#carousel1,
#carousel2 {
    overflow-x: scroll; /* Enables horizontal scrolling with the scrollbar */
    white-space: nowrap;
    scroll-behavior: smooth; /* Smooth scrolling effect */
}


/* Modal styling */
#imageModal {
  z-index: 51; /* Ensure it appears above other elements */
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
}

#modalImage {
  max-width: 90%; /* Adjust as needed for a responsive modal */
  max-height: 90%;
  border-radius: 8px;
}

